$include /etc/inputrc

# Options see `man readline`
# Keybinding see `bind --help`

# Do not ring bell on tab-completion.
set bell-style visible

set blink-matching-paren on

set show-all-if-ambiguous on
set menu-complete-display-prefix on
set completion-ignore-case on
# Make hyphens and underscores interchangable
set completion-map-case on
set skip-completed-text on

# -----------------------------------------------------------------------------
# Default keymap group
set keymap

# up
"\e[A": history-search-backward
# down
"\e[B": history-search-forward

# Cycle thru candidates when completing.
TAB: menu-complete
# shift-tab
"\e[Z": menu-complete-backward
