snippet em "emphasize" w
_$1_$0
endsnippet

snippet bf "boldface" w
**$1**$0
endsnippet

snippet url "URL" w
[$1]($2)$0
endsnippet

snippet "^\s*([-+*]|1\.) " "List item should start on tabstops" wrA
`!p
tabstop = int(vim.current.window.buffer.options['tabstop'])
snip.rv = match.group(0) + (' ' *
  ((tabstop - len(match.group(0)) % tabstop) % tabstop))`
endsnippet
